body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
    -webkit-font-smoothing: antialiased !important;

    font-size: 12px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
}
